<main>
  <div class="container-fluid mt-5 pt-5 w-80">
    <app-box-img-ply [src]="'/assets/image/cours/ply.png'"></app-box-img-ply>
    <div class="containersection">
      <div class="isolation-mode-parent">
        <div class="containerarticle1">
          <div class="intro-content">
            <div class="intro-title">
              <b class="b f-18">تعیین سطح</b>
            </div>
            <div class="mock-examiner-container">
              <p class="font-primary mock-examiner text-end">
                اولین قدم برای ثبت نام متقاضیان کلاس‌های انگلیسی و فرانسه کودک و
                نوجوان تعیین سطح است. تعیین سطح با هدف مشخص کردن دوره آموزشی
                مناسب برای ورود زبان آموز به سیستم آموزشی کیدز دیلی صورت می
                گیرد. این آزمون بصورت شفاهی و در مدت زمان 15 دقیقه و در محیط
                پلتفرم بیگ بلو باتن انجام می‌شود. سوپروایزر دوره‌ها با توجه به
                شرایط سنی، سابقه زبان آموزی، سبک یادگیری زبان آموز و ملاحظاتی از
                این دست، و از طریق پرسش سوالات یا نشان دادن الگوهای تصویری میزان
                آمادگی متقاضی را برای ورود به کلاسهای آموزشی می‌سنجد و سطح مناسب
                را انتخاب می کند. این آزمون نیاز به آمادگی پیش از جلسه را ندارد
                و با توجه به سیستم آموزشی کیدز دیلی طراحی شده و دانش زبانی فرد
                را در مهارتهای مختلف مورد بررسی قرار می دهد. در صورت نیاز ممکن
                است از زبان آموز خواسته شود بصورت محدود در قالب پلتفرم یک یا دو
                جمله بنویسد. همچنین پس از تمام شدن تعیین سطح اگر والدین متقاضی
                یا سوپروایز احساس کردند باید مطالبی را در مورد روند آموزشی زبان
                آموز در میان بگذارند یا سوالاتی داشتند میتوانند این کار را انجام
                دهند.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around mt-4">
        <div class="item bg-white br-6xl box-shadow-prim d-flex flex-column">
          <img src="../../../assets/image/cours/Isolation_Mode.png" alt="" />
          <div class="color-primary f-15">تعیین سطح آنلاین</div>
          <div class="color-primary font-bold">انگلیسی</div>
        </div>
        <div class="item bg-white br-6xl box-shadow-prim d-flex flex-column">
          <img src="../../../assets/image/cours/OBJECTS.png" alt="" />
          <div class="color-primary f-15">تعیین سطح آنلاین</div>
          <div class="color-primary font-bold">فرانسه</div>
        </div>
        <div class="item bg-white br-6xl box-shadow-prim d-flex flex-column">
          <img src="../../../assets/image/cours/Frame.png" alt="" />
          <div class="color-primary f-15">تعیین سطح آنلاین</div>
          <div class="color-primary font-bold">ترکی</div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
