<div class="shop mt-3">
  <div class="holder-image">
    <img
      loading="lazy"
      class="image-icon10"
      alt="products"
      src="/assets/image/products/pro.png"
    />

    <div class="transaction-minus-wrapper">
      <img
        class="button-min-icon"
        alt="products"
        src="/assets/image/products/transaction-minus.svg"
      />
    </div>
  </div>
  <div class="lego-loot-llama">Lego king</div>
  <hr />

  <div class="d-flex div-row justify-content-between p-3">
    <div class="textprice-old f-15">
      <span class="through">۱۵۰،۰۰۰</span>
      <span class="b">تومان</span>
    </div>
    <div class="textspan w-50 f-15">
      <b class="b1">۱۴۵،۰۰۰</b>
      <b class="b">تومان</b>
    </div>
  </div>
  <button class="button w-90" routerLink="/detail/12">
    <i class="fa-solid fa-eye" style="color: white"></i>
    <span class="buy me-3">مشاهده</span>
  </button>
</div>
