<header>
  <div class="podcast-header">
    <div class="row h-100">
      <div class="col-6 mb-5">
        <div class="m-5 p-5 wrapper">
          <h2 class="library mb-2">دوره انگلیسی</h2>
          <p>
            پس از تعیین سطح، کد مناسب از طریق هلپ دسک برای متقاضی ارسال می‌شود و
            متقاضی ثبت نام را انجام می‌دهد. دو تا سه روز قبل از شروع کلاس، گروه
            تلگرامی به همراه اطلاعات و لینک کلاس و آموزش‌های مربوط نحوه شرکت در
            کلاس در اختیار زبان آموز و والدین قرار می‌گیرد تا بتوانند آمادگی
            لازم را کسب کنند. کلاس‌ها در روز‌ها و ساعات اعلام شده برگزار می‌شود
            و با توجه به آنلاین بودن و استفاده از پلتفرم بیگ بلو باتن، هر مدرس
            منطبق بر سیلابس آموزشی و با استفاده از امکانات صوتی و تصویری و
            همچنین مواد آموزشی مفید و در عین حال سرگرم کننده در مدت 75 دقیقه
            کلاس تمام تلاش خود را در جهت بالا بردن مهارت‌های زبان‌آموز انجام
            می‌دهد. تمام کلاس‌ها ضبط شده و پس از جلسه برای زبان آموز قابل دسترسی
            است. پس از اتمام کلاس، مدرس تکالیف و روش انجام آن را در گروه تلگرامی
            قرار می‌دهند و پس از ارسال تکالیف در همان محیط بازخورد مناسب از طرف
            مدرس برای تکالیف ارائه خواهد شد.
          </p>
        </div>
      </div>
      <div class="col-6 position-relative p-5">
        <div class="right">
          <img
            class="objects-icon1"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="layer-1-icon"
            alt="book"
            src="../../../assets/library/layer-1@2x.png"
          />
          <img
            class="objects-icon2"
            alt="mini-cloud-2"
            src="../../../assets/library/OBJECTS.svg"
          />
        </div>

        <img
          class="book-reader-2"
          alt=""
          src="../../../assets/library/book-reader--2@2x.png"
        />
        <div class="left">
          <img
            class="objects-icon3"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="podcast-header-item"
            alt=""
            src="../../../assets/library/group-48095650@2x.png"
          />
        </div>
        <img
          class="vector-icon"
          alt="cloud"
          src="../../../assets/library/vector@2x.png"
        />
      </div>
    </div>
    <img
      class="union-icon"
      alt="moving cloud"
      src="../../../assets/library/union.svg"
    />
  </div>
</header>
<main>
  <div class="containersection">
    <div class="containerdiv">
      <div class="div-title">
        <div class="span">Seed</div>
        <div class="span-code pe-3 ps-3">
        ۱۳۲ : کد
        </div>
      </div>
      <div class="containersection1">
        <div class="w-100 div-row">
          <div class="div-flex-inner">
              <div class="div">۱۴۰۲-۰۲-۲۲</div>
              <div class="div">تاريخ شروع</div>
          </div>
        </div>
        <div class="div-flex">
          <div class="div-flex-inner">
            <div class="parent5">
              <div class="wrapper2">
                <div class="div20">تکمیل نشده</div>
              </div>
              <div class="div21">ظرفیت کلاس</div>
            </div>
          </div>
          <img
            class="div-flex-child"
            alt=""
            src="./public/vector-1585.svg"
          />
        </div>
        <div class="div-flex">
          <div class="div-flex-inner">
            <div class="parent5">
              <div class="div">الهه کیانیان</div>
              <div class="div23">نام مدرس</div>
            </div>
          </div>
          <img
            class="div-flex-child"
            alt=""
            src="./public/vector-1585.svg"
          />
        </div>
        <div class="div-flex">
          <div class="div20">روزه‌های كلاس</div>
          <div class="frame-parent6">
            <div class="wrapper3">
              <div class="div20">پنجشنبه</div>
            </div>
            <div class="wrapper3">
              <div class="div20">چهارشنبه</div>
            </div>
            <div class="wrapper3">
              <div class="div20">سشنبه</div>
            </div>
            <div class="wrapper3">
              <div class="div20">دوشنبه</div>
            </div>
            <div class="wrapper3">
              <div class="div20">یکشنبه</div>
            </div>
            <div class="wrapper3">
              <div class="div20">شنبه</div>
            </div>
          </div>
        </div>
        <div class="div-btn">
          <b class="div">اطلاعات بیشتر</b>
          <div class="div31">ظرفيت</div>
        </div>
      </div>
    </div>


  </div>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
