<header>
  <div class="podcast-header">
    <div class="row h-100">
      <div class="col-6">
        <div class="m-5 p-5 wrapper">
          <h2 class="library mb-2">کارگاه‌ها</h2>
          <p>کارگاه‌ها</p>
        </div>
      </div>
      <div class="col-6 position-relative p-5">
        <!-- <div class="right">
          <img
            class="objects-icon1"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="layer-1-icon"
            alt="book"
            src="../../../assets/library/layer-1@2x.png"
          />
          <img
            class="objects-icon2"
            alt="mini-cloud-2"
            src="../../../assets/library/OBJECTS.svg"
          />
        </div> -->

        <img
          class="book-reader-2"
          alt=""
          src="../../../assets/image/work-shop/main.png"
        />
        <!-- <div class="left">
          <img
            class="objects-icon3"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="podcast-header-item"
            alt=""
            src="../../../assets/library/group-48095650@2x.png"
          />
        </div> -->
      </div>
    </div>
    <img
      class="union-icon"
      alt="moving cloud"
      src="../../../assets/library/union.svg"
    />
  </div>
</header>
<main>
  <div class="container">
    <section class="containersection1">
      @for (item of number; track $index) {
      <div class="div-box">
        <section class="containersection2">
          <div class="containerheader w-100">
            <b class="textstrong">کارگاه گروهی داستان سرایی </b>
          </div>
          <div class="textp1">
            <p>
              با توجه به علاقه و اشتیاق فراوانی که کودکان به داستان و اجرای
              نمایش دارند، به کار گیری بازی و فعالیت های مشابه در آموزش زبان
              انگلیسی به کودکان بسیار موثر است.
            </p>
            <p>
              &nbsp;کلاس های داستان خوانی &nbsp;در مجموعه لینگوپل دقیقا به همین
              هدف طراحی شده‌اند. در کلاس های داستان خوانی، کودکان واژه ها و
              جملاتی که در کتاب های داستان متناسب با سطحشان می‌آموزند بازخوانی
              کرده و با اساتید مجرب مخصوص کودکان همخوانی می کنند که با توجه به
              روحیات کودکان این امر باعث افزایش علاقه آنها به یادگیری زبان
              انگلیسی می گردد در نتیجه در فرایند آموزشی آنها تاثیر به سزایی
              دارد.
            </p>
          </div>

          <hr class="hr" />
          <div class="containerbtn f-16 w-100">
            <button class="button pe-5 ps-5 f-14">ثبت نام دوره</button>
            <div class="div-capacity">
              <span class="span pe-3 ps-3"> تکمیل نشده </span>
              <span class="textlabel ms-2">:ظرفیت کارگاه</span>
            </div>
            <span class="b">زمان برگزاری: ۱۲ اسفند ۱۴۰۲</span>
            <div class="div-user">
              <span class="b">استاد: الهه کیانیان</span>
              <img
                class="image-icon10"
                alt=""
                src="../../../assets/image/work-shop/user.png"
              />
            </div>
          </div>
        </section>
        <img
          class="frame-inner"
          alt=""
          src="../../../assets/image/work-shop/image6@2x.png"
        />
      </div>
      }
    </section>
  </div>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
