@import "../../../themes.scss";

.podcast-header {
  width: 100%;
  position: relative;
  height: 31.25rem;
  background-color: #b1e0ff;
  text-align: right;
}
h6 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #19313a;
  line-height: 41px;
  width: 42rem;
}
.wrapper {
  .library {
    text-align: right;
    color: #fff;
    font-family: var(--font-family-javan);
    font-size: 5rem;
    font-weight: 300;
    line-height: 5rem;
  }
  p {
    font-family: var(--font-family-secondary);
    line-height: 32px;
    text-align: justify;
  }
}

.union-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
}
.objects-icon1 {
  position: absolute;
  width: 4rem;
  right: 24rem;
  object-fit: contain;
}
.objects-icon3,
.podcast-header-item {
  position: absolute;
  width: 7rem;
  object-fit: contain;
  left: 15rem;
  top: 11rem;
}
.podcast-header-item {
  top: 2rem;
}
.objects-icon2 {
  position: absolute;
  width: 3rem;
  right: 25rem;
  top: 8rem;
  object-fit: contain;
}
.layer-1-icon {
  object-fit: contain;
  width: 16rem;
  position: absolute;
  right: 10rem;
}
.book-reader-2 {
  height: 80%;
  object-fit: contain;
}
.vector-icon {
  position: absolute;
  height: 35%;
  top: 48.4%;
  left: 18.21%;
  max-height: 100%;
  object-fit: cover;
}
///

.containersection,
.texth3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.containersection {
  align-items: flex-end;
  text-align: right;
  font-size: 105px;
  color: #2855ae;
  font-family: var(--font-family-javan);
}

.textstrong {
  position: relative;
  line-height: 70px;
  font-weight: 700;
}
.containerheader {
  border-radius: var(--br-11xl);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.p {
  margin: 0;
}
.textp-txt {
  width: 100%;
}
.textp1 {
  height: 9rem;
  flex-shrink: 0;
  P {
    font-family: var(--font-family-primary);
  }
}
.containerparagragh {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-base);
}

.hr {
  width: 100%;
  box-sizing: border-box;
  height: 1px;
}

.button {
  cursor: pointer;
  border: 0;
  background-color: var(--primary);
  border-radius: var(--br-3xs);
  color: white;
}

.span {
  border-radius: var(--br-6xl);
  background-color: var(--color-powderblue);
  text-align: center;
  align-content: center;
  line-height: 24px;
}
.textlabel {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 70px;
  font-family: var(--font-family-primary);
  color: var(--color-darkslategray);
  text-align: right;
}
.div-capacity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--primary);
  font-family: var(--font-family-primary);
}
.image-icon10 {
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.div-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-smi);
}
.containerbtn,
.containersection2 {
  display: flex;
  justify-content: flex-start;
}
.containerbtn {
  height: 4rem;
  display: flex;
  justify-content: space-around;
}
.containersection2 {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-base);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-family-primary);
}
.div-box {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-11xl);
  gap: var(--gap-22xl);
}
.b {
  position: relative;
  line-height: 70px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-base);
}

.frame-div {
  width: 213px;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-iranyekanmsn);
}

.frame-inner {
  position: relative;
  border-radius: var(--br-11xl);
  height: 18rem;
  object-fit: cover;
}
.containersection1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-5xl);
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
  font-family: var(--font-family-secondary);
  direction: ltr;
}

///

footer {
  width: 100%;
  position: relative;
  height: 30rem;
  text-align: right;
  font-size: 1.25rem;
  color: #fff;
  font-family: var(--font-family-primary);
  background: url(../../../assets/image/footer/footer.svg);
  object-fit: cover;
  .logo-holder {
    line-height: 43px;
    top: 9rem;
    right: 14rem;
    img.logo-footer {
      width: 9rem;
    }
  }
  .link-holder {
    line-height: 43px;
    top: 13rem;
    right: 52rem;
  }
  .social-network {
    line-height: 43px;
    top: 13rem;
    left: 14rem;
  }
}
