<header>
  <div class="podcast-header">
    <div class="row h-100">
      <div class="col-6">
        <div class="m-5 p-5 wrapper">
          <h2 class="library mb-2">محصولات</h2>
          <p>
            اگر شما هم‌ علاقه‌مند به پادکست ها هستید، پادکست های آکادمی‌ آیلتس
            دیلی رو از دست ندهید.
          </p>
        </div>
      </div>
      <div class="col-6 position-relative p-5">
        <div class="right">
          <img
            class="objects-icon1"
            alt="mini-cloud"
            src="/assets/library/objects@2x.png"
          />
          <img
            class="layer-1-icon"
            alt="book"
            src="/assets/image/products/card.png"
          />
          <img
            class="objects-icon2"
            alt="mini-cloud-2"
            src="/assets/library/OBJECTS.svg"
          />
        </div>

        <img
          class="book-reader-2"
          alt=""
          src="/assets/image/products/base1.png"
        />
        <div class="left">
          <img
            class="objects-icon3"
            alt="mini-cloud"
            src="/assets/image/products/card-2.svg"
          />
          <img
            class="podcast-header-item"
            alt=""
            src="/assets/image/products/pacat.svg"
          />
          <img
            class="objects-icon-left"
            alt="mini-cloud"
            src="/assets/library/objects@2x.png"
          />
        </div>
        <img
          class="vector-icon"
          alt="cloud"
          src="/assets/library/vector@2x.png"
        />
      </div>
    </div>
    <img
      class="union-icon"
      alt="moving cloud"
      src="/assets/library/union.svg"
    />
  </div>
</header>
<main>
  <div class="container">
    <div class="d-flex flex-column">
      <app-filter-bar class="mt-2"></app-filter-bar>
      <div class="mt-4">
        <div class="container-article d-flex justify-content-around p-4">
          <div class="w-30">
            <img
              class="img-card"
              src="/assets/image/products/pro.png"
              alt="buy"
            />
          </div>
          <div class="w-35">
            <h6 class="mb-3">
              لگو سری نینجاگو مدل 71795 - LEGO 71795 Temple of the Dragon Energy
              Spheres
            </h6>
            <p class="paragraph-card">
              LEGO 71795 Temple of the Dragon Energy Spheres یکی از مجموعه های
              متعدد تم لگو نینجاگو است. ویژگی‌ها معبد NINJAGO کودکان 8 سال و
              بالاتر می‌توانند صحنه‌ای کلیدی از مجموعه تلویزیونی NINJAGO Dragons
              Rise را با Temple of the Dragon Energy Spheres (71795) 6 مینی
              فیگور Kai، هر کدام با 2 طلایی بازسازی کنند.کاتاناس نیا و کول، روح
              معبد با شمشیر طلایی بزرگ، لرد راس با چکش طلایی و ملکه بئاتریکس با
              شمشیر امپریومتله های مخفی مدل معبد دارای تله های مختلفی از جمله
              سقوط تنه درختان، بالکن فرو ریخته، مجسمه واژگون شده و سقوط سنگ در
              کتابخانه پاداش بزرگ معبد همچنین دارای یک گوی انرژی اژدها است
              کهشخصیت‌ها برای آن مبارزه می‌کنند، که همچنین یک کلکسیون
              سرگرم‌کننده برای طرفداران هاردکور NINJAGO استایده هدیه برای کودکان
              8 سال به بالا، این مجموعه ساختمانی 1029 قطعه ای یک ساختمان سرگرم
              کننده و تجربه بازی را فراهم می کند و برای هدیه تولد یا کریسمس عالی
              است.
            </p>
          </div>
          <div class="w-30">
            <div class="containerdiv-card">
              <div class="containerdiv-price w-100">
                <div class="containerdiv-row">
                  <div class="textspan1">قیمت</div>
                  <div class="textspan">
                    <div class="div3">تومان</div>
                    <div class="div4">140,000</div>
                  </div>
                </div>
                <div class="containerdiv-row1 mb-3">
                  <div class="containerdiv-price-step">
                    <img
                      class="button-min-icon"
                      alt=""
                      src="/assets/image/products/buttonmin.svg"
                    />

                    <div class="span">2</div>
                    <img
                      class="button-min-icon"
                      alt=""
                      src="/assets/image/products/buttonmax.svg"
                    />
                  </div>
                  <div class="b">در سبد شما</div>
                </div>
              </div>
              <button class="button-add-to-card">
                <img
                  class="button-min-icon"
                  alt=""
                  src="/assets/image/products/icon.svg"
                />
                <div class="span1">افزودن به سبد خرید</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 position-relative mb-5">
        <app-swiper [dynamicTemplate]="dynamicTemplate"></app-swiper>
        <ng-template #dynamicTemplate let-data="data">
          <app-item-shop></app-item-shop>
        </ng-template>
      </div>
    </div>
  </div>
</main>
<footer class="position-relative mt-5">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
