<div class="accordion w-100" id="accordionExample">
  <div class="accordion-item  mb-3 w-100">
    <h2 class="accordion-header ">
      <button
        class="accordion-button f-12 font-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
 آیتلس دیلی خودش وبینارها رو برگزار می کنه؟
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <p>
          2-11- در صورتی که رویداد برگزارکننده بیش از 20 نفر ثبت نامی داشته باشد
          برگزارکننده ملزم به برگزاری زنده رویداد می باشد. این مورد شامل هم
          رویدادهای رایگان و هم ویدادهای غیر رایگان می باشد.
        </p>
        <p>
          2-10- مسئولیت کمیت و کیفیت وبینار برعهده برگزار کننده بوده لکن در صورت
          ایجاد اخلال در برگزاری وبینار به صورت عمومی و یا عدم انجام وبینار و یا
          عدم ارتباط وبینار با توضیحات ارائه شده و سرفصل های آن وبینار و عدم
          امکان برگزاری مجدد یا تعویض سخنران وبینار بعد از ثبت نام کاربران،
          ایسمینار در صورت بررسی کارشناسی میتواند بخشی و یا کل وجوه کاربران را
          مسترد نماید.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item  mb-5 w-100">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>

</div>
