<main>
  <div class="container-fluid mt-5 pt-5 w-80">
    <app-box-img-ply></app-box-img-ply>
    <div class="containersection">
      <div class="isolation-mode-parent">
        <div class="containerarticle1">
          <div class="intro-content">
            <div class="intro-title">
              <b class="b f-18"> برگزاری کلاس‌های کودک و نوجوان </b>
            </div>
            <div class="mock-examiner-container">
              <p class="font-primary mock-examiner text-end">
                پس از تعیین سطح، کد مناسب از طریق هلپ دسک برای متقاضی ارسال
                می‌شود و متقاضی ثبت نام را انجام می‌دهد. دو تا سه روز قبل از
                شروع کلاس، گروه تلگرامی به همراه اطلاعات و لینک کلاس و آموزش‌های
                مربوط نحوه شرکت در کلاس در اختیار زبان آموز و والدین قرار
                می‌گیرد تا بتوانند آمادگی لازم را کسب کنند. کلاس‌ها در روز‌ها و
                ساعات اعلام شده برگزار می‌شود و با توجه به آنلاین بودن و استفاده
                از پلتفرم بیگ بلو باتن، هر مدرس منطبق بر سیلابس آموزشی و با
                استفاده از امکانات صوتی و تصویری و همچنین مواد آموزشی مفید و در
                عین حال سرگرم کننده در مدت 75 دقیقه کلاس تمام تلاش خود را در جهت
                بالا بردن مهارت‌های زبان‌آموز انجام می‌دهد. تمام کلاس‌ها ضبط شده
                و پس از جلسه برای زبان آموز قابل دسترسی است. پس از اتمام کلاس،
                مدرس تکالیف و روش انجام آن را در گروه تلگرامی قرار می‌دهند و پس
                از ارسال تکالیف در همان محیط بازخورد مناسب از طرف مدرس برای
                تکالیف ارائه خواهد شد.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-around mt-4">
        <div class="item bg-white br-6xl box-shadow-prim d-flex flex-column">
          <img src="../../../assets/image/cours/Isolation_Mode.png" alt="" />
          <div class="color-primary f-15">کلاس آنلاین</div>
          <div class="color-primary font-bold">انگلیسی</div>
        </div>
        <div class="item bg-white br-6xl box-shadow-prim d-flex flex-column">
          <img src="../../../assets/image/cours/OBJECTS.png" alt="" />
          <div class="color-primary f-15">کلاس آنلاین</div>
          <div class="color-primary font-bold">فرانسه</div>
        </div>
        <div class="item bg-white br-6xl box-shadow-prim d-flex flex-column">
          <img src="../../../assets/image/cours/Frame.png" alt="" />
          <div class="color-primary f-15">کلاس آنلاین</div>
          <div class="color-primary font-bold">ترکی</div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
