<header>
  <div class="podcast-header">
    <div class="row h-100">
      <div class="col-6 mb-5">
        <div class="m-5 p-5 wrapper">
          <h2 class="library mb-2">سوال‌های متداول</h2>
        </div>
      </div>
      <div class="col-6 position-relative p-5">
        <div class="right">
          <img
            class="objects-icon1"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="layer-1-icon"
            alt="book"
            src="../../../assets/library/layer-1@2x.png"
          />
          <img
            class="objects-icon2"
            alt="mini-cloud-2"
            src="../../../assets/library/OBJECTS.svg"
          />
        </div>

        <img
          class="book-reader-2"
          alt=""
          src="../../../assets/library/book-reader--2@2x.png"
        />
        <div class="left">
          <img
            class="objects-icon3"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="podcast-header-item"
            alt=""
            src="../../../assets/library/group-48095650@2x.png"
          />
        </div>
        <img
          class="vector-icon"
          alt="cloud"
          src="../../../assets/library/vector@2x.png"
        />
      </div>
    </div>
    <img
      class="union-icon"
      alt="moving cloud"
      src="../../../assets/library/union.svg"
    />
  </div>
</header>
<main>
  <div class="container">
    <div class="d-flex flex-column">
      <section class="webinar-info mt-5">
        <div class="webinar-content">
          <div class="webinar-content1">
            <div class="webinar-details">
              <div class="isolation-mode-parent">
              <app-accordion></app-accordion>
              </div>
              <div class="top-details">
                <div class="containerarticle p-3">
                  <div
                    class="d-flex justify-content-between px-3 item-box item-active"
                  >
                    <span class="color-primary"
                      ><i class="fa-solid fa-chevron-left"></i
                    ></span>
                    <span class="color-primary">ثبت نام در دوره خاص</span>
                  </div>
                  <div class="d-flex justify-content-between px-3 item-box">
                    <span></span>
                    <span class="color-gray">تغییر زمان بندی کلاس ها</span>
                  </div>
                  <div class="d-flex justify-content-between px-3 item-box">
                    <span></span>
                    <span class="color-gray"> ثبت نام در آزمون ها</span>
                  </div>
                  <div class="d-flex justify-content-between px-3 item-box">
                    <span></span>
                    <span class="color-gray"> ثبت نام در آزمون ها</span>
                  </div>
                  <div class="d-flex justify-content-between px-3 item-box">
                    <span></span>
                    <span class="color-gray"> ثبت نام در آزمون ها</span>
                  </div>
                  <div class="d-flex justify-content-between px-3 item-box">
                    <span></span>
                    <span class="color-gray"> ثبت نام در آزمون ها</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="isolation-mode-group">
            <img
              class="isolation-mode-icon6"
              alt=""
              src="../../../assets/image/cours/isolation-mode-6.svg"
            />

            <div class="frame-wrapper">
              <img
                class="frame-child"
                loading="lazy"
                alt=""
                src="../../../assets/image/cours/group-1707478054.svg"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
