<div class="containerdiv">
  <div class="div-title px-4">
    <div class="span">Seed</div>
    <div class="span-code pe-3 ps-3">۱۳۲ : کد</div>
  </div>
  <div class="containersection1">
    <div class="w-100 div-row py-1">
      <div class="div-flex-inner">
        <div class="div">۱۴۰۲-۰۲-۲۲</div>
        <div class="div">تاريخ شروع</div>
      </div>
    </div>
    <div class="w-100 div-row py-1">
      <div class="div-flex-inner">
        <div class="f-10 px-4 color-primary bg-secondery br-31xl">
          تکمیل نشده
        </div>
        <div>ظرفیت کلاس</div>
      </div>
    </div>
    <div class="w-100 div-row py-1">
      <div class="div-flex-inner">
        <div class="font-bold">الهه کیانیان</div>
        <div>نام مدرس</div>
      </div>
    </div>
    <div class="w-100 py-1 section-day-of-week">
      <div class="font-bold mb-2">روزه‌های كلاس</div>
      <div class="frame-parent">
        <div class="wrapper">پنجشنبه</div>
        <div class="wrapper">چهارشنبه</div>
        <div class="wrapper">سشنبه</div>
        <div class="wrapper">دوشنبه</div>
        <div class="wrapper">یکشنبه</div>
        <div class="wrapper">شنبه</div>
      </div>
    </div>
    <div class="w-100 py-1">
      <button class="btn btn-info w-100 font-bold">اطلاعات بیشتر</button>
    </div>
  </div>
</div>
