.box-image {
  border-radius: var(--br-51xl);
  mix-blend-mode: multiply;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .ply {
    position: absolute;
    width: 15rem;
    object-fit: contain;
  }
}

.box-image::after {
  position: absolute;
  top: 0;
  right: -8rem;
  content: "";
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  background-image: url("/assets/image/cours/isolation-mode-6.svg");
  animation: rotate360 5s linear infinite;
}
.box-image::before {
  position: absolute;
  top: 50%;
  left: -8rem;
  content: "";
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  background-image: url("/assets/image/cours/isolation-mode-6.svg");
  animation: rotate360 5s linear infinite;
}
