<div class="hero-header">
  <div class="stars"></div>
  <div class="d-flex flex-column pt-5 wawe_top">
    <span class="title">مسیر موفقیت شما</span>
    <h1 class="sub-title">آیلتس دیلی,مدرسه ای که دوستت داره!</h1>
  </div>
  <div class="cloud-bottom"></div>
  <div class="kahooo"></div>
  <div class="pencel"></div>
  <div class="flas"></div>
  <div class="cloud-left"></div>
  <div class="saturn"></div>

  <div class="planet">
    <img src="../../../../assets/image/home/start-z.png" alt="Planet" />
  </div>
  <div class="hero-content"></div>
</div>
