@import "variable";
@import "../../../../themes.scss";

.modal-header {
  padding: $side-distance !important;
  background: nb-theme(color-100);
  border-radius: 50px 50px 0 0;
  border: unset;
  font-family: nb-theme(font-family-secondary);
}

.modal-title {
  display: flex;
  align-items: center;
  gap: $side-distance;
  color: black !important;
  margin: 0 !important;
  font-size: 26px !important;
  font-family: nb-theme(font-family-secondary);
}

.modal-body {
  background: nb-theme(color-100);
  height: 36vh;
  border-radius: 50px;
  font-family: nb-theme(font-family-secondary);
}

.modal-footer {
  background: nb-theme(color-100);
  padding: $side-distance !important;
  padding-top: 0 !important;
  display: flex;
  align-items: center;
  border: unset;
  gap: $spacing-x2;
  border-radius: 0 0 50px 50px;

  & > * {
    margin: 0 !important;
  }
}

.modal-header-actions {
  display: flex;
  align-items: center;
  gap: $spacing-x3;
  border-inline-start: 1px solid $border;
  padding-inline-start: $side-distance;
  &__button {
    display: flex;
    align-items: center;
    gap: $spacing-x2;
    padding: $spacing-x2;
    border-radius: $radius-x1;
    font-family: nb-theme(font-family-secondary);
    text-decoration: none;
    transition: 0.3s all;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &--task {
      color: $information;
      &:hover {
        background-color: $background-secondary;
      }
    }

    &--note {
      color: $warning;
      &:hover {
        background-color: $background-secondary;
      }
    }
  }
}
