.holder-image {
  position: relative;
  height: 19rem;
  text-align: center;

  .image-news {
    object-fit: contain;
    width: 15rem;
    object-fit: contain;
    height: 100%;
  }
  .transaction-minus-wrapper {
    position: absolute;
    top: 0;
    left: 1rem;
  }
}
.lego-loot-llama {
  font-weight: 700;
  text-align: end;
  line-height: 34px;
}
.div-row {
  font-size: 12px;
  color: #019da4;
  .textspan {
    gap: 2px;
  }
}
.textprice-old {
  color: #bcbcbc;
  .through {
    text-decoration: line-through;
  }
}
