@import "variable.scss";

.tile {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-x3 0;
  background-color: #fff;
  border-radius: 8px;
  height: 124px;

  &__img {
    width: 35%;

    img {
      height: 100px;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__content {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 0 $spacing-x2;
    justify-content: space-around;

    &--no-image {
      width: 100%;
    }

    &-header {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-text {
      font-weight: bold;
      font-family: nb-theme(font-family-secondary);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
