<div class="date-picker">
  <input
    [attr.id]="id"
    class="date-picker__element"
    [class.date-picker__element--large]="size === 'lg'"
    [class.date-picker__element--small]="size === 'sm'"
    name="dp"
    [disabled]="disabled"
    [readonly]="readonly"
    placeholder="yyyy/mm/dd"
    ngbDatepicker
    [minDate]="minDate"
    [maxDate]="maxDate"
    container="body"
    [(ngModel)]="value"
    [footerTemplate]="disableFooter ? footerTemplateCf : null"
    [placement]="placement"
    #dp="ngbDatepicker"
    (ngModelChange)="update($event)"
  />
  <label
    class="date-picker__button"
    [class.date-picker__button--disabled]="readonly || disabled"
    (click)="!readonly && !disabled ? dp.toggle() : null"
  >
    <i
      class="fa fa-calendar"
      [class.fa-lg]="size === 'lg'"
      [class.fa-sm]="size === 'sm'"
    ></i>
  </label>
</div>
<ng-template #footerTemplateCf>
  <hr class="my-0" />
  <button class="btn btn-secondary btn-sm m-2 float-start" (click)="reset(dp)">
    Reset
  </button>
  <button
    class="btn btn-primary btn-sm m-2 float-end"
    (click)="selectToday(dp)"
  >
    TODAY
  </button>
</ng-template>
