<div class="book">
  <div class="image-parent">
    <img class="image-icon" alt="جلد کتاب" src="/assets/image/book/book.png" />

    <div class="first-friends-1 p-2">First Friends 1</div>
  </div>
  <div class="buttonmuitext-icon-wrapper d-flex w-100">
    <button class="buttonmuitext-icon d-flex w-100">
      <img
        class="info-circle-icon"
        alt="info"
        src="../../../../assets/image/book/infocircle.svg"
      />
      <span>اطلاعات بیشتر</span>
    </button>
  </div>
</div>
