@import "variable";
@import "../../../../themes.scss";

$name: "form-group";

.#{$name} {
  margin-bottom: $spacing-x4;
  position: relative;
  &__content {
    position: relative;
  }

  &__required-sign {
    color: #eb4949;
    font-size: 13px;
    width: 6px;
    height: 6px;
  }

  &--align-center {
    align-items: center;
    font-family: nb-theme(font-family-primary);
    .#{$name}__label {
      margin: 0 !important;
      font-family: nb-theme(font-family-primary);
    }
  }

  &--no-bottom-distance {
    margin-bottom: 0;
  }
}
