<header>
  <div class="podcast-header">
    <div class="row h-100">
      <div class="col-6 mb-5">
        <div class="m-5 p-5 wrapper">
          <h2 class="library mb-2">دوره انگلیسی</h2>
          <p>
            پس از تعیین سطح، کد مناسب از طریق هلپ دسک برای متقاضی ارسال می‌شود و
            متقاضی ثبت نام را انجام می‌دهد. دو تا سه روز قبل از شروع کلاس، گروه
            تلگرامی به همراه اطلاعات و لینک کلاس و آموزش‌های مربوط نحوه شرکت در
            کلاس در اختیار زبان آموز و والدین قرار می‌گیرد تا بتوانند آمادگی
            لازم را کسب کنند. کلاس‌ها در روز‌ها و ساعات اعلام شده برگزار می‌شود
            و با توجه به آنلاین بودن و استفاده از پلتفرم بیگ بلو باتن، هر مدرس
            منطبق بر سیلابس آموزشی و با استفاده از امکانات صوتی و تصویری و
            همچنین مواد آموزشی مفید و در عین حال سرگرم کننده در مدت 75 دقیقه
            کلاس تمام تلاش خود را در جهت بالا بردن مهارت‌های زبان‌آموز انجام
            می‌دهد. تمام کلاس‌ها ضبط شده و پس از جلسه برای زبان آموز قابل دسترسی
            است. پس از اتمام کلاس، مدرس تکالیف و روش انجام آن را در گروه تلگرامی
            قرار می‌دهند و پس از ارسال تکالیف در همان محیط بازخورد مناسب از طرف
            مدرس برای تکالیف ارائه خواهد شد.
          </p>
        </div>
      </div>
      <div class="col-6 position-relative p-5">
        <div class="right">
          <img
            class="objects-icon1"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="layer-1-icon"
            alt="book"
            src="../../../assets/library/layer-1@2x.png"
          />
          <img
            class="objects-icon2"
            alt="mini-cloud-2"
            src="../../../assets/library/OBJECTS.svg"
          />
        </div>

        <img
          class="book-reader-2"
          alt=""
          src="../../../assets/library/book-reader--2@2x.png"
        />
        <div class="left">
          <img
            class="objects-icon3"
            alt="mini-cloud"
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="podcast-header-item"
            alt=""
            src="../../../assets/library/group-48095650@2x.png"
          />
        </div>
        <img
          class="vector-icon"
          alt="cloud"
          src="../../../assets/library/vector@2x.png"
        />
      </div>
    </div>
    <img
      class="union-icon"
      alt="moving cloud"
      src="../../../assets/library/union.svg"
    />
  </div>
</header>
<main>
  <section class="webinar-info m-5">
    <div class="webinar-content">
      <div class="webinar-content1">
        <div class="webinar-details">
          <div class="top-details">
            <img
              class="isolation-mode-icon3"
              alt=""
              src="../../../assets/image/cours/isolation-mode-3.svg"
            />

            <img
              class="isolation-mode-icon4"
              alt=""
              src="../../../assets/image/cours/isolation-mode-4.svg"
            />

            <div class="containerarticle p-3">
              <div class="register-button">
                <h3 class="h3">اطلاعات دوره</h3>
              </div>
              <img
                class="containerarticle-child"
                loading="lazy"
                alt=""
                src="../../../assets/image/cours/group-1707478067.svg"
              />

              <div class="date-items-wrapper">
                <div class="date-items">
                  <div class="schedule-details">
                    <div class="div">2 اسفند 1401</div>
                    <div class="type-values">
                      <div class="div1">شروع دوره</div>
                      <div class="type-icon">
                        <img
                          class="iconlylight-outlinecalendar"
                          alt=""
                          src="../../../assets/image/cours/iconlylightoutlinecalendar@2x.png"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="schedule-details">
                    <div class="wrapper">
                      <div class="div2">شنبه، سه شنبه، یکشنبه، دوشنبه</div>
                    </div>
                    <div class="container-day">
                      <div class="div3">روزهای دوره</div>
                    </div>
                    <div class="type-icon">
                      <img
                        class="iconlylight-outlinecalendar"
                        alt=""
                        src="../../../assets/image/cours/iconlylightoutlinetime-circle@2x.png"
                      />
                    </div>
                  </div>
                  <div class="webinar-duration">
                    <div class="duration-container">
                      <div class="duration-details">
                        <img
                          class="image-14-icon"
                          loading="lazy"
                          alt=""
                          src="../../../assets/image/cours/image-14@2x.png"
                        />

                        <div class="div4">الهه کیانیان</div>
                      </div>
                    </div>
                    <div class="duration-info">
                      <div class="div5">استاد</div>
                      <img
                        class="iconlycurvedprofile"
                        loading="lazy"
                        alt=""
                        src="../../../assets/image/cours/iconlycurvedprofile.svg"
                      />
                    </div>
                  </div>
                  <div class="schedule-details">
                    <div class="div">241</div>
                    <div class="type-values">
                      <div class="div1">کد</div>
                      <div class="type-icon">
                        <img
                          class="iconlylight-outlinecalendar"
                          loading="lazy"
                          alt=""
                          src="../../../assets/image/cours/basekey.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="schedule-details">
                    <div class="div">آنلاین</div>
                    <div class="type-values">
                      <div class="div1">وضعیت</div>
                      <div class="type-icon">
                        <img
                          class="iconlylight-outlinecalendar"
                          alt=""
                          src="../../../assets/image/cours/iconlycurvedfilter.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="schedule-details">
                    <div class="div">10</div>
                    <div class="type-values">
                      <div class="div1">ظرفیت دوره</div>
                      <div class="type-icon">
                        <img
                          class="iconlylight-outlinecalendar"
                          alt=""
                          src="../../../assets/image/cours/peopleshands.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="schedule-details">
                    <div class="div">10</div>
                    <div class="type-values">
                      <div class="div1">ظرفیت باقی مانده دوره:</div>

                      <img
                        class="iconlylight-outlinecalendar"
                        loading="lazy"
                        alt=""
                        src="../../../assets/image/cours/peoplesrightuser.svg"
                      />
                    </div>
                  </div>
                  <div class="schedule-details">
                    <div class="div">۱،۴۵۰‍‍‍،۰۰۰ تومان</div>
                    <div class="type-values">
                      <div class="div1">شهریه برگزاری کلاس</div>
                      <img
                        class="iconlylight-outlinecalendar"
                        alt=""
                        src="../../../assets/image/cours/peoplesrightuser.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="registration mb-4">
                <button class="button">ثبت نام دوره</button>
              </div>
            </div>
          </div>
          <div class="isolation-mode-parent">
            <img
              class="isolation-mode-icon5"
              alt=""
              src="./public/isolation-mode-5.svg"
            />

            <div class="containerarticle1">
              <div class="intro-content">
                <div class="intro-title">
                  <b class="b f-18">Prime A1</b>
                  <b class="b1 f-18">سطح ۳</b>
                </div>
                <div class="mock-examiner-container">
                  <p class="mock-examiner">
                    دوره‌های بوت‌کمپ آکادمی آیلتس‌دیلی توسط مدرسینی برگزار
                    می‌شوند که مدرک ممتحنی امتحانات ماک ایرسافام را دریافت
                    کرده‌اند و در آکادمی آیلتس دیلی Mock Examiner هستند
                  </p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="boot-camp-">* ماژول Boot Camp - Writing :</p>
                  <p class="blank-line1">&nbsp;</p>
                  <p class="mock-examiner1">
                    دوره‌های بوت‌کمپ آکادمی آیلتس‌دیلی توسط مدرسینی برگزار
                    می‌شوند که مدرک ممتحنی امتحانات ماک ایرسافام را دریافت
                    کرده‌اند و در آکادمی آیلتس دیلی Mock Examiner هستند
                  </p>
                  <p class="boot-camp-1">* ماژول Boot Camp - Speaking :</p>
                  <p class="blank-line2">&nbsp;</p>
                  <p class="mock-examiner2">
                    دوره‌های بوت‌کمپ آکادمی آیلتس‌دیلی توسط مدرسینی برگزار
                    می‌شوند که مدرک ممتحنی امتحانات ماک ایرسافام را دریافت
                    کرده‌اند و در آکادمی آیلتس دیلی Mock Examiner هستند
                  </p>
                  <p class="boot-camp-2">* ماژول Boot Camp - Writing :</p>
                  <p class="blank-line3">&nbsp;</p>
                  <p class="mock-examiner3">
                    دوره‌های بوت‌کمپ آکادمی آیلتس‌دیلی توسط مدرسینی برگزار
                    می‌شوند که مدرک ممتحنی امتحانات ماک ایرسافام را دریافت
                    کرده‌اند و در آکادمی آیلتس دیلی Mock Examiner هستند
                  </p>
                  <p class="boot-camp-3">* ماژول Boot Camp - Speaking :</p>
                  <p class="mock-examiner4">
                    دوره‌های بوت‌کمپ آکادمی آیلتس‌دیلی توسط مدرسینی برگزار
                    می‌شوند که مدرک ممتحنی امتحانات ماک ایرسافام را دریافت
                    کرده‌اند و در آکادمی آیلتس دیلی Mock Examiner هستند
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="isolation-mode-group">
        <img
          class="isolation-mode-icon6"
          alt=""
          src="../../../assets/image/cours/isolation-mode-6.svg"
        />

        <div class="frame-wrapper">
          <img
            class="frame-child"
            loading="lazy"
            alt=""
            src="../../../assets/image/cours/group-1707478054.svg"
          />
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
