<header>
  <div class="podcast-header">
    <div class="row h-100">
      <div class="col-6 mb-5">
        <div class="m-5 p-5 wrapper">
          <h2 class="library mb-2">پادکست</h2>
          <p>
            اگر شما هم‌ علاقه‌مند به پادکست ها هستید، پادکست های آکادمی‌ آیلتس
            دیلی رو از دست ندهید
          </p>
        </div>
      </div>
      <div class="col-6 position-relative p-5">
        <div class="right">
          <img
            class="objects-icon1"
            alt="mini-cloud"
            src="../../../assets/image/padcast/union@2x.png"
          />
          <img
            class="layer-1-icon"
            alt="book"
            src="../../../assets/image/padcast/frame@2x.png"
          />
          <img
            class="objects-icon2"
            alt="mini-cloud-2"
            src="../../../assets/image/padcast/objects@2x.png"
          />
          <img
            class="microfon"
            alt="mini-cloud-2"
            src="../../../assets/image/padcast/microfon.png"
          />
        </div>

        <img
          class="book-reader-2"
          alt=""
          src="../../../assets/image/padcast/podcastx.png"
        />
        <div class="left">
          <img
            class="objects-icon3"
            alt="mini-cloud"
            src="../../../assets/image/padcast/group.png"
          />
          <img
            class="podcast-header-item"
            alt=""
            src="../../../assets/library/objects@2x.png"
          />
          <img
            class="vector"
            alt=""
            src="../../../assets/image/padcast/Vector.png"
          />
        </div>
      </div>
    </div>
    <img
      class="union-icon"
      alt="moving cloud"
      src="../../../assets/image/padcast/union.svg"
    />
  </div>
</header>
<main>
  <div class="container">
    <div class="d-flex flex-column">
      <app-filter-bar class="mt-2"></app-filter-bar>
    </div>

    <div class="box-image mt-4">
      <div class="row">
        <div class="col-6 p-3">
          <div class="podcast-card">
            <img
              src="../../../assets/image/padcast/Rectangle2.png"
              alt=""
              class="podcast-card-child"
            />
            <div class="podcast-card-item"></div>
          </div>
          <div
            class="border-bottom-gray d-flex justify-content-between mt-3 pb-3"
          >
            <div class="frame-group">
              <div class="eye-parent">
                <i class="fa-solid fa-download f-16"></i>
              </div>
              <div class="eye-parent">
                <i class="fa-solid fa-share-nodes f-16"></i>
              </div>
              <div class="eye-parent">
                <i class="fa-regular fa-eye f-16"></i>

                <div class="name-podcast">832</div>
              </div>
              <div class="eye-parent">
                <i class="fa-solid fa-heart f-16"></i>

                <div class="name-podcast">132</div>
              </div>
            </div>
            <div class="frame-group">
              <div class="eye-parent">
                <div class="name-podcast">2022-01-27</div>
                <i class="fa-regular fa-clock"></i>
              </div>
            </div>
          </div>
          <div
            class="border-bottom-gray d-flex justify-content-between mt-3 overflow-auto pb-3 w-100"
          >
            <div class="d-flex flex-column">
              <h6 class="color-gray font-primary text-end">تیم اجرا</h6>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <img src="/assets/image/padcast/item.png" alt="" />
                  <strong class="f-13">مرضیه مالکی</strong>
                  <span class="color-gray f-13 mt-2 text-end">گوینده</span>
                </div>
                <div class="d-flex flex-column">
                  <img src="/assets/image/padcast/item.png" alt="" />
                  <strong class="f-13">مرضیه مالکی</strong>
                  <span class="color-gray f-13 mt-2 text-end">گوینده</span>
                </div>
                <div class="d-flex flex-column">
                  <img src="/assets/image/padcast/item.png" alt="" />
                  <strong class="f-13">مرضیه مالکی</strong>
                  <span class="color-gray f-13 mt-2 text-end">گوینده</span>
                </div>
                <div class="d-flex flex-column">
                  <img src="/assets/image/padcast/item.png" alt="" />
                  <strong class="f-13">مرضیه مالکی</strong>
                  <span class="color-gray f-13 mt-2 text-end">گوینده</span>
                </div>
                <div class="d-flex flex-column">
                  <img src="/assets/image/padcast/item.png" alt="" />
                  <strong class="f-13">مرضیه مالکی</strong>
                  <span class="color-gray f-13 mt-2 text-end">گوینده</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 p-5">
          <h2 class="font-primary text-end">فصل ششم- پیش‌گفتار</h2>
          <div class="color-gray f-16 mt-3 text-end">توضیحات</div>
          <p class="f-14 font-primary mt-4 text-end">
            توضیحات این اولین اپیزود و به نوعی معرفی کوتاهی از مجموعه پادکستهای
            پپ هست. پپ مکالمات روزمره و کاربردی زبان انگلیسی رو از دل بهترین
            منابع آموزشی مارکت زبان جمع آوری کرده و همراه با توضیح نکات مهمشون
            به زبان فارسی، برات آماده شنیدن کرده تا در هر زمان و هر مکانی فرصت
            یادگیری و یا مرور آموخته هات رو داشته باشی. با پـــــــپ، تجربه دو
            دهه تدریس مکالمه با توست.
          </p>
          <ngx-player></ngx-player>
          <div class="d-flex flex-column mt-3">
            <!-- <h6 class="color-gray font-primary text-end">دیدگاه کاربران</h6> -->
            <ki-form-group [label]="'دیدگاه کاربران'">
              <ki-textarea
                name="comment"
                [fullWidth]="true"
                [placeholder]="'دیدگاه خود را وارد کنید..'"
              ></ki-textarea>
            </ki-form-group>
            <div class="d-flex justify-content-end">
              <ki-button [size]="'medium'" [title]="'ارسال'"></ki-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-image mt-4 p-5">
      <div class="d-flex flex-column">
        <h6 class="color-gray f-14 font-primary mb-3 text-end">
          دیدگاه های بیشتر
        </h6>
        <div class="comment p-2 w-100 color-white d-flex mb-2">
          <div class="p-3 border-left-gray">
            <div class="d-flex flex-column">
              <img src="/assets/image/padcast/item.png" alt="" />
              <strong class="f-13">مرضیه مالکی</strong>
            </div>
          </div>
          <p class="align-content-center font-primary me-2">
            توی این اپیزود با شهریار و تیم پادکست ایلتس دیلی یک سفر فضایی رو
            تجربه میکنین !
          </p>
        </div>
        <div class="comment p-2 w-100 color-white d-flex mb-2">
          <div class="p-3 border-left-gray">
            <div class="d-flex flex-column">
              <img src="/assets/image/padcast/item.png" alt="" />
              <strong class="f-13">مرضیه مالکی</strong>
            </div>
          </div>
          <p class="align-content-center font-primary me-2">
            توی این اپیزود با شهریار و تیم پادکست ایلتس دیلی یک سفر فضایی رو
            تجربه میکنین !
          </p>
        </div>
        <div class="comment p-2 w-100 color-white d-flex mb-2">
          <div class="p-3 border-left-gray">
            <div class="d-flex flex-column">
              <img src="/assets/image/padcast/item.png" alt="" />
              <strong class="f-13">مرضیه مالکی</strong>
            </div>
          </div>
          <p class="align-content-center font-primary me-2">
            توی این اپیزود با شهریار و تیم پادکست ایلتس دیلی یک سفر فضایی رو
            تجربه میکنین !
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white w-100">
    <div class="container">
      <div class="mt-5 position-relative mb-5">
        <h6 class="font-primary p-3 pb-3 text-centerfont-family-javan text-end">
          اپیزود‌های دیگر
        </h6>
        <app-swiper [dynamicTemplate]="dynamicTemplate"></app-swiper>
        <ng-template #dynamicTemplate let-data="data">
          <app-padcast-item></app-padcast-item>
        </ng-template>
        <!-- </div> -->
      </div>
    </div>
  </div>
</main>
<footer class="position-relative mt-2">
  <div class="w-100">
    <div class="logo-holder position-absolute d-flex flex-column">
      <img
        class="logo-footer"
        src="/assets/image/footer/kids-logo-copy-1@2x.png"
        alt="logo"
      />
      <strong>
        <img width="25" src="/assets/image/footer/calling.svg" alt="calling" />
        تلفن های آکادمی
      </strong>
      <span class="tel-number"> ۰۵۱-۳۷۶۳۷۵۲۶ </span>
      <span class="tel-number"> ۰۵۱-۳۷۶۶۹۲۹۵ </span>
      <strong>
        <img width="25" src="/assets/image/footer/location.png" alt="calling" />
        آدرس
      </strong>
      <span> مشهد - بلوار فلسطین - فلسطین ۱۰ - پلاک ۳۴ </span>
    </div>
    <div class="link-holder position-absolute d-flex flex-column">
      <strong> لینک های مفید </strong>
      <span> سوال‌های متداول </span>
      <span>خدمات</span>
      <span>اخبار</span>
      <span>تیم ما</span>
    </div>
    <div class="social-network position-absolute d-flex flex-column">
      <strong> با ما در تماس باشید </strong>
      <span>
        <img width="25" src="/assets/image/footer/heart.svg" alt="calling" />
        شبکه های اجتماعی
      </span>
      <div class="d-flex justify-content-between">
        <img width="40" src="/assets/image/footer/whatsap.svg" alt="whatsap" />
        <img
          width="40"
          src="/assets/image/footer/telegram.svg"
          alt="telegram"
        />
        <img width="40" src="/assets/image/footer/insta.svg" alt="instagram" />
        <img width="40" src="/assets/image/footer/in.svg" alt="in" />
      </div>
    </div>
  </div>
</footer>
