<div class="podcast-card">
  <img
    src="../../../assets/image/padcast/rectangle.png"
    alt=""
    class="podcast-card-child"
  />
  <div class="podcast-card-item"></div>
  <div class="frame-parent">
    <div class="name-podcast-parent">
      <b class="name-podcast"> Name podcast </b>
      <div class="name-podcast">By Farideh Ghanad</div>
    </div>
    <div class="frame-group">
      <div class="eye-parent">
        <i class="fa-regular fa-eye f-16"></i>

        <div class="name-podcast">832</div>
      </div>
      <div class="eye-parent">
        <i class="fa-solid fa-heart f-16"></i>

        <div class="name-podcast">132</div>
      </div>
    </div>
  </div>
  <img src="../../../assets/image/padcast/ply.png" alt="" class="podcast-ply" />
</div>
