@import "variable";
@import "../../../../themes.scss";

$name: "textarea";
.#{$name} {
  display: flex;
  &__element {
    background-color: $form-element-background-color !important;
    color: $form-element-color !important;
    border: 1px solid $form-element-border-color !important;
    box-shadow: $form-element-shadow !important;
    font-size: $form-element-font-size--normal !important;
    font-family: nb-theme(font-family-primary) !important;
    height: $form-element-size--normal * 3 !important;
    line-height: 1.5 !important;
    border-radius: $form-element-border-radius--normal !important;
    padding: $spacing-x2 $spacing-x3 !important;
    width: 100% !important;
    outline: none;
    resize: none;
    transition: 0.3s all;

    &::placeholder {
      font-family: nb-theme(font-family-primary) !important;
      color: $content-tertiary !important;
      font-size: 12px !important;
    }

    &:focus {
      background-color: $form-element-background-color--focus !important;
      color: $form-element-color--focus !important;
      border-color: $form-element-border-color--focus !important;
      box-shadow: $form-element-shadow--focus !important;
    }

    &:read-only {
      background-color: $form-element-background-color--readonly;
      color: $form-element-color--readonly;
      border-color: $form-element-border-color--readonly;
      box-shadow: $form-element-shadow--readonly;
    }

    &:disabled {
      background-color: $form-element-background-color--disabled;
      color: $form-element-color--disabled;
      border-color: $form-element-border-color--disabled;
      box-shadow: $form-element-shadow--disabled;
    }

    &--large {
      font-size: $form-element-font-size--large;
      font-family: nb-theme(font-family-primary);

      height: $form-element-size--large * 3;
      border-radius: $form-element-border-radius--large;
      padding: $spacing-x3;
      line-height: 1.4;
    }

    &--small {
      font-size: $form-element-font-size--small;
      font-family: nb-theme(font-family-primary);

      height: $form-element-size--small * 3;
      border-radius: $form-element-border-radius--small;
      padding: $spacing-x1 $spacing-x3;
      line-height: 1.6;
    }

    &--error {
      background-color: $error-light !important;
      color: $error !important;
      border-color: $error-medium !important;
      box-shadow: 0 0 0 transparent !important;
    }

    &--success {
      background-color: $success-light !important;
      color: $success !important;
      border-color: $success-medium !important;
      box-shadow: 0 0 0 transparent !important;
    }
  }
}
