<swiper-container id="swiper_review" class="mySwiper" init="false">
  <!-- <div class="container-section-holder-boxs"> -->
  @for (item of number; track $index) {
  <swiper-slide>
    <ng-container
      [ngTemplateOutlet]="dynamicTemplate"
      [ngTemplateOutletContext]="{ data: item }"
    ></ng-container>
  </swiper-slide>
  }

  <!-- </div> -->
</swiper-container>
<div class="swiper-button-prev">
  <img
    class="button-prev-img"
    src="../../../assets/image/products/spider@2x.png"
    alt=""
  />
</div>
<div class="swiper-button-next">
  <img src="../../../assets/image/products/Spider.png" alt="" />
</div>
