@import "variable";
@import "../../../../themes.scss";
$name: "textbox";
$textbox-side-distance: $spacing-x3;
$large-icon-size: 20px;
$normal-icon-size: 16px;
$small-icon-size: 12px;
.#{$name} {
  display: flex;
  position: relative;
  &__element {
    background-color: nb-theme(color-basic-100);
    color: nb-theme(color-basic-700);
    border: 1px solid $form-element-border-color;
    box-shadow: $form-element-shadow;
    font-size: $form-element-font-size--normal;
    height: $form-element-size--normal;
    border-radius: $form-element-border-radius--normal;
    padding: $spacing-x2 $textbox-side-distance;
    width: 100%;
    outline: none;
    transition: 0.3s all;

    &::placeholder {
      color: $content-tertiary !important;
    }

    &:focus {
      background-color: $form-element-background-color--focus;
      color:nb-theme(color-basic-700);;
      border-color: $form-element-border-color--focus;
      box-shadow: $form-element-shadow--focus;
    }

    &:read-only {
      background-color: $form-element-background-color--readonly;
      color: $form-element-color--readonly;
      border-color: $form-element-border-color--readonly;
      box-shadow: $form-element-shadow--readonly;
    }

    &:disabled {
      background-color: $form-element-background-color--disabled;
      color: $form-element-color--disabled;
      border-color: $form-element-border-color--disabled;
      box-shadow: $form-element-shadow--disabled;
    }

    &--large {
      font-size: $form-element-font-size--large;
      height: $form-element-size--large;
      border-radius: $form-element-border-radius--large;
      padding: $spacing-x3 $textbox-side-distance;

      &.#{$name} {
        &__element {
          &--has-start-icon {
            padding-inline-start: $textbox-side-distance * 1.6 +
              $large-icon-size;
          }

          &--has-end-icon {
            padding-inline-end: $textbox-side-distance * 1.6 + $large-icon-size;
          }
        }
      }
    }

    &--small {
      font-size: $form-element-font-size--small;
      height: $form-element-size--small;
      border-radius: $form-element-border-radius--small;
      padding: $spacing-x1 $textbox-side-distance;

      &.#{$name} {
        &__element {
          &--has-start-icon {
            padding-inline-start: $textbox-side-distance * 1.6 +
              $small-icon-size;
          }

          &--has-end-icon {
            padding-inline-end: $textbox-side-distance * 1.6 + $small-icon-size;
          }
        }
      }
    }

    &--error {
      background-color: $error-light !important;
      color: $error !important;
      border-color: $error-medium !important;
      box-shadow: 0 0 0 transparent !important;
    }

    &--success {
      background-color: $success-light !important;
      color: $success !important;
      border-color: $success-medium !important;
      box-shadow: 0 0 0 transparent !important;
    }

    &--has-start-icon {
      padding-inline-start: $textbox-side-distance * 1.6 + $normal-icon-size;
    }

    &--has-end-icon {
      padding-inline-end: $textbox-side-distance * 1.6 + $normal-icon-size;
    }

    &--has-template {
      padding-inline-start: 124px;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $content-tertiary;
    font-size: $normal-icon-size;
    width: $normal-icon-size;
    height: $normal-icon-size;

    &--start {
      inset-inline-start: $textbox-side-distance;
    }

    &--end {
      inset-inline-end: $textbox-side-distance;
    }

    &--large {
      font-size: $large-icon-size;
      width: $large-icon-size;
      height: $large-icon-size;
    }

    &--small {
      font-size: $small-icon-size;
      width: $small-icon-size;
      height: $small-icon-size;
    }
  }
}
