@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}

@import "app.scss"; /* You can add global styles to this file, and also import other style files */
:root {
  --bg-btn: #019da4;
  --wheat: #fff;
}
.border-bottom-gray {
  border-bottom: 1px solid #d9d9d9;
}
.border-left-gray {
  border-left: 1px solid #d9d9d9;
}
.bg-btn {
  background-color: var(--bg-btn);
  color: var(--wheat);
}
