@forward "@nebular/theme/styles/theming";
@use "@nebular/theme/styles/theming" as *;
@use "@nebular/theme/styles/themes" as *;
$nb-enable-css-custom-properties: true;
$nb-themes: nb-register-theme((), dark, dark);
$nb-themes: nb-register-theme((), cosmic, cosmic);
$nb-themes: nb-register-theme((), corporate, corporate);
$nb-themes: nb-register-theme((), default, default);

$nb-themes: nb-register-theme(
  (
    color-100: #feb800,
    color-main-100: #019da4,
    button-hero-primary-left-background-color: #019da4,
    button-hero-primary-right-background-color: #04656c,
    border-main-radius: 15px,
    font-family-primary: iranYekanNumber,
    font-family-secondary: iranSansDNBold,
    font-family-javan: iranSansjavan,
    font-family-iran: iranSansDNnn,
  ),
  default,
  default
);
