@forward "@nebular/theme/styles/theming";
@use "@nebular/theme/styles/theming" as *;
@use "@nebular/theme/styles/themes" as *;
$nb-enable-css-custom-properties: true;
$nb-themes: nb-register-theme((), dark, dark);
$nb-themes: nb-register-theme((), cosmic, cosmic);
$nb-themes: nb-register-theme((), corporate, corporate);
$nb-themes: nb-register-theme((), default, default);

$nb-themes: nb-register-theme(
  (
    color-100: #feb800,
    color-main-100: #019da4,
    button-hero-primary-left-background-color: #019da4,
    button-hero-primary-right-background-color: #04656c,
    border-main-radius: 15px,
    font-iranyekanfn: IRANYekanFN,
    font-family-primary: iranYekanNumber,
    font-family-secondary: iranSansDNBold,
    font-family-javan: iranSansjavan,
    font-family-iran: iranSansDNnn,
    font-iranyekanmsn: IRANYekanFN,
    font-iranyekanweb: iranSansDNnn,
    font-size-smi: 13px,
    font-size-xl: 14px,
    font-size-lg: 18px,
    font-size-xs: 10px,
    font-size-sm: 12px,
    font-size-5xl: 24px,
    font-size-base: 16px,
    color-white: #fff,
    color-darkslategray: #384045,
    primary: #019da4,
    color-powderblue: #b7dce2,
    color-whitesmoke: #ebebeb,
    black1: #000,
    border-color: #e6e6e6,
    color-orange: rgba(241, 165, 1, 0.15),
    color-goldenrod: rgba(231, 166, 0, 0.1),
    color-gainsboro: #d9d9d9,
    secondery: #ff9900,
    color-secondery: #b7dce2,
    gray: #696984,
    gap-5xl: 24px,
    gap-xs: 12px,
    gap-8xs: 5px,
    gap-5xs: 8px,
    gap-22xl: 41px,
    gap-base: 16px,
    gap-41xl: 60px,
    gap-smi: 13px,
    padding-5xs: 8px,
    padding-3xs: 10px,
    padding-11xl: 30px,
    padding-xl: 20px,
    padding-8xs: 5px,
    padding-6xl: 25px,
    padding-mini: 15px,
    br-11xl: 30px,
    br-8xs: 5px,
    br-6xl: 25px,
    br-3xs: 10px,
    br-31xl: 50px,
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    bs-accordion-icon:url(./assets/image/expand.png),
    bs-accordion-active-icon:url(./assets/image/active.png),
  ),
  default,
  default
);
